{% extends 'base.html' %}
{% block content %}
    
    {% if user.is_authenticated %}
        Вы авторизованны как {{ user.username }}...
    {% else %}
        {% if form.non_field_errors %}
            <div style="color: red">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="post">
            <input type="hidden" name="form_id" value="reset_pass">
            {% csrf_token %}
            {{ form.as_ul  }}
            <input type="submit" value="Ok">
        </form>
    {% endif %}
    
{% endblock %}