{% extends 'base.html' %}
{% block content %}
    
    ---{{ text }}---
    
    <hr>
    
{#    {% load app_main.tpl_tags %}#}
    
    {% for item in object_list %}
        
        | {{ item.name }} ({{ item.sections.count }})
{#        {% debug_tpl sect=item.sections %}#}
    
    {% endfor %}
    
    <hr>
    
    {% for item in my_elements %}
        
        | {{ item.name }}
    
    {% endfor %}
    
{% endblock %}

{% block navigation %}
    
    {% if page_obj.has_other_pages %}

        <hr>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        {% for item in paginator.page_range %}
            {% if page_obj.number == item %}
                <a href="?page={{ item }}" style="color: red">{{ item }}</a>
            {% elif item >= page_obj.number|add:-2 and item <= page_obj.number|add:2 %}
                <a href="?page={{ item }}">{{ item }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
    
    {% endif %}
    
{% endblock %}