{% extends 'base.html' %}
{% block content %}
    <table border="1">
        <tr>
            <td>
                {% include './inc/tree.html' %}
            </td>
            {% if items %}
                <td>
                    <table border="1">
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.time_created|date:'Y-m-d H:i:s' }}</td>
                                <td>
                                    {# !!! Тут будут происходить лишние SQL запросы #}
                                    {% for section in item.sections.all %}
                                        <div>{{ section.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if item.photo %}
                                        <img src="{{ item.photo.url }}" style="max-width: 88px;width: 100%;height: auto">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}