
{% load app_main.tpl_tags %}
{% get_menu as menu %}
{% for item in menu %}
    | {% include './inc/menu_item.html' %}
{% endfor %}

| <a href="{% url 'add_element_page' %}">Add element</a>
| <a href="{% url 'simple_form' %}">Simple form</a>
| <a href="{% url 'template_view_page' %}?meow=meow">Tpl view</a>
| <a href="{% url 'template_list_view_page' %}?meow=meow1">Tpl list</a>
| <a href="{% url 'template_detail_view_page' element_code='wertyuioo' %}">Tpl detail</a>
| <a href="{% url 'template_form_page' %}">Tpl form</a>
| <a href="{% url 'template_create_page' %}">Tpl create</a>
{% if user.is_authenticated %}
    | <a href="{% url 'users_namespace:profile' %}">Profile</a>
    | <a href="{% url 'users_namespace:logout' %}">Logout ({{ user.username }})</a>
{% else %}
    | <a href="{% url 'users_namespace:login' %}">Login</a>
    | <a href="{% url 'users_namespace:login_view' %}">Login view</a>
    | <a href="{% url 'users_namespace:login_def' %}?next=/catalog/">Login def</a>
    | <a href="{% url 'users_namespace:reg' %}">Reg</a>
    | <a href="{% url 'users_namespace:reg_from_ucf' %}">Reg UCF</a>
{% endif %}
| <a href="/admin">Admin</a>
| <a href="{% url 'clear_cache' %}">Clear cache</a>

<hr>